@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@400;600&family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    padding: 1.5rem 2rem;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    
}

header {
    text-align: center;
}

.header-logo img {
   width:5rem
}

 p {
    font-size: 0.7rem;
    line-height: 1.5;
     font-size: 0.7rem;
     color: hsl(201, 11%, 66%);
       
}

a {
    text-decoration: none;
    margin: 15px 10px;
    font-size: 0.8rem;
    color: #fff;
    margin-top: 1.8rem;
}

span.green-btn {
    display: inline-block;
    background-color:hsl(171, 66%, 44%);
    padding: 8px;
    border-radius: 20px;
    margin-top: 20px;

}

span.blue-btn {
    background-color: hsl(233, 100%, 69%);
    padding: 8px;
    border-radius: 20px;

}

.snippets h2 {
    margin: 3rem 1rem 1rem 1rem;
    font-size: 1.7rem;
}
.info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
    margin-left: 50px;
    
}

 .info-text-wrap {
    display:block;
}

.info-text {
    line-height: 2.5;
    margin-left: 70px;
}

.info-text h3 {
    font-size: 1.2rem;
}

.computer-image img {
    width: 100%;
}

section.access-clipboard {
    text-align: center;
    margin-top: 5rem;
}

.access-clipboard h2 {
    margin-bottom:1rem;
}

figure.tablet-image {
    margin-top: 40px;
}

section.details {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-top: 1.5rem;
}

.details-text img {
    width: 2rem;
    
}

.details-text {
    text-align: center;
}

.details-text h4 {
    margin: 1rem;
}

.partner-logo {
    margin: 2rem 3rem;
}

.partner-logo img {
    margin: 32px;
    width: 7rem;
}

figure.tablet-image img {
    width: 70%;
}

article.more-info {
    text-align: center;
    margin-top: 2.5rem;
}

article.more-info h2{
   font-size:1.7rem;
   margin-bottom: 20px;
}

footer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 2rem;
    background-color:hsl(202, 33%, 95%);
    padding: 2rem 2rem 3rem 2rem;
    overflow: hidden;
}

.footer-logo img {
    width: 3rem;
}

.footer-text {
    margin-top: 1rem;
}

footer p {
    color: hsl(210, 10%, 33%);
    line-height: 2.5;
}

footer p:hover{
    color: hsl(171, 66%, 44%);
}

footer .socials {
    margin-top: 1.5rem;
    margin-left: 30px;
}
 footer .socials img{
      width: 1rem;
      margin: 10px;
      color: #26baa4;
 }

 @media screen and (min-width:320px) and (max-width:800px){
    a {
        font-size: 0.6rem;
        font-weight: 700;
    }
    
    span.green-btn,span.blue-btn {
        display:block;
        padding: 10px;
        width: 50%;
        margin: 10px auto;
        white-space: nowrap;
    }
    
    .info {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin:2rem auto;
        
    }
    
     .info-text-wrap {
        display:block;
    }
    
    .info-text {
        text-align: center;
        margin: auto;
    }    
    
    section.details {
        grid-template-columns: 1fr;
    }
    
    .partner-logo img {
        display: block;
        margin: 30px auto;
        width: 7rem;
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    
     footer .socials img{
          width: 1rem;
          margin: 10px;
          color: #26baa4;
     }
    
    }

    @media screen and (max-width:375px){
        span.green-btn,span.blue-btn {
            width: 90%;
        }
    }