* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Trirong", serif;
    display: grid;
    place-items: center;
    background: #dde1e7;
}

body.active {
    background:rgb(53, 51, 51);
    transition: 0.3s ease-in;
}

.container {
    min-height: 100vh;
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
    position: relative;
}

.card {
    margin-top: 50px;
    background: #dde1e7;
    box-shadow: 13px 13px 20px #babecc,
                -13px -13px 20px rgba(94,104,121,0.288);
     padding:40px 30px; 
     width: 400px;   
     height: 485px;
     border-radius: 20px;       
}

.card.active {
    transition: 0.3s;
    background: rgb(27, 25, 25);
    box-shadow: 13px 13px 20px rgb(49, 46, 46),
                -13px -13px 20px rgba(94, 104, 121, 0.288);
}
header {
    display: flex;
    justify-content: space-between;
}

header h2{
    color:#2b2a2a;
}

.card.active header h2 {
    color: #e3e4e9;
}

.toggle-container {
    color: #000;
    text-align: center;
    box-shadow: inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #babecc;
    font-size: 1.5rem;
    margin-top: -10px;
    background: #dde1e7;
    padding: 25px 15px;
    width: 25%;
    height: 70%;
    cursor: pointer;
    position: relative;
}

#toggle {
    margin-top: 5px;
    position: absolute;
    top:5px;
    left: 10px;
    height: 30px;
    width: 55px;
    background:grey;
    border-radius: 20px;
    cursor: pointer;
}

#toggle .toggle-button {
    position: absolute;
    top:2px;
    left: 2px;
    height: 25px;
    width: 25px;
    background:#fff;
    border-radius: 50%;
    transition: 0.3s ease-out;
}

 #toggle.active .toggle-button {
    left: 30px;
    transition: 0.3s;
    background: rgb(39, 38, 38);
}

hr {
    margin-top: 20px;
    opacity: 0.4;
}

.field {
    margin-top:30px;
    position: relative;
}

.field.active {
    color: #babecc;
}

.field.active .submit{
    box-shadow: 2px 2px 5px #111111,
                -5px -5px 10px #2e2b2b73;
    color: #e3e4e9;   
    background: #272626;       
}

.field.active .submit:hover {
    color: #3498db;
}


label {
    display: inline-block;
    width: 100px;
    color: #3498db;
    font-weight: 700;
    margin: 5px 0;
}

.field input {
    display: inline-block;
    height: 2rem;
  width: 60%;
  padding-left: 45px;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  border: none;
  color: #595959;
  background: #dde1e7;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #babecc,
               inset -5px -5px 10px #ffffff73;
}

#password-toggle {
    position: absolute;
    right:-5px;
    bottom: 170px;
    height: 17px;
     width: 17px;
      padding: 10px;
    margin-left: 7px;
    
}

::placeholder {
    font-size: 13px;
    color: grey;
    opacity: 0.7;
}


.submit{
    margin: 15px 0 0 0;
    width: 70%;
    height: 50px;
    color: #3f3e3e;
    font-size: 18px;
    font-weight: 600;
    background: #dde1e7;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #babecc,
                -5px -5px 10px #ffffff73;          
  }
  
  .submit:hover{
    color: #3498db;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
  }

  span {
      color:grey;
      position: absolute;
      line-height: 50px;
      width: 50px;
      margin-top: 8px;
  }